In [2]:
import os
import quandl as q
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
q.ApiConfig.api_key = os.getenv('QUANDL_API_KEY')

In [7]:
q.get('FSE/SAP_X', start_date='2018-1-1',
                      end_date='2020-05-01')

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2018-01-02,93.35,93.95,92.12,92.80,None,2334984.0,2.165717e+08,None,None,None
2018-01-03,93.00,94.65,92.63,94.07,None,2346852.0,2.198772e+08,None,None,None
2018-01-11,NaN,93.74,91.04,91.43,None,4274991.0,3.934989e+08,None,None,None
2018-01-12,NaN,91.47,90.27,90.73,None,3437210.0,3.120135e+08,None,None,None
2018-01-15,NaN,90.61,89.71,90.06,None,2053812.0,1.851768e+08,None,None,None
...,...,...,...,...,...,...,...,...,...,...
2020-04-24,106.22,108.06,105.14,106.68,None,2890515.0,3.091875e+08,None,None,None
2020-04-27,109.00,109.50,107.16,107.80,None,2106179.0,2.272643e+08,None,None,None
2020-04-28,107.66,110.12,107.60,108.84,None,3037613.0,3.307189e+08,None,None,None
2020-04-29,109.00,109.90,107.18,109.80,None,2539753.0,2.761407e+08,None,None,None
2020-04-30,110.84,111.80,108.08,108.94,None,4692164.0,5.159082e+08,None,None,None