In [1]:
import yfinance as yf
import pandas as pd
import warnings
import numpy as np
from scipy import stats
warnings.filterwarnings("ignore")

In [2]:
def get_ticker_data(ticker_name:str, period:str, start_date:str, end_date:str) ->pd.DataFrame:
    """Get ticker data from yahoo finance based on ticker, period, start_date, end_date

    Args:
        ticker (str): stock ticker
        period (str): frequency of data
        start_date (str): start date of data
        end_date (str): end date of data

    Returns:
        pd.DataFrame: resulting dataframe
    """
    ticker = yf.Ticker(ticker_name)
    ticker_data = (
        ticker.history(period = period, start=start_date, end=end_date)
        .reset_index()
        .assign(ticker_name = )
    )
    return ticker_data

In [3]:
def get_ticker_data_list(ticker_list:list, period:str, start_date:str, end_date:str) ->dict:
    """Apply get_ticker_data to a list of tickers

    Args:
        ticker_list (list): list of tickers
        period (str): frequency of data
        start_date (str): start date of data
        end_date (str): end date of data

    Returns:
        dict: A dictionary of ticker dataframes
    """
    storage = {}
    
    for ticker in ticker_list:
        storage[ticker] = get_ticker_data(ticker, period, start_date, end_date)
    
    return storage

In [4]:
tickerSymbols = ['META', 'AAPL', 'AMZN', 'NFLX', 'GOOGL','^GSPC']

tickerDataFrames = get_ticker_data_list(tickerSymbols, '1d', '2023-1-30', '2024-1-30')

meta_data = tickerDataFrames['META']
google_data = tickerDataFrames['GOOGL']
apple_data = tickerDataFrames['AAPL']
amazon_data = tickerDataFrames['AMZN']
netflix_data = tickerDataFrames['NFLX']
sp500_data = tickerDataFrames['^GSPC']

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date,Open,...,Dividends,Stock Splits,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-01-30 00:00:00-05:00,149.410004,151.119995,146.949997,147.059998,28040100,0.0,0.0,2023-01-30 00:00:00-05:00,97.480003,...,0.0,0.0,2023-01-30 00:00:00-05:00,4049.270020,4063.850098,4015.550049,4017.770020,3802000000,0.0,0.0
1,2023-01-31 00:00:00-05:00,147.949997,149.880005,147.520004,148.970001,29842100,0.0,0.0,2023-01-31 00:00:00-05:00,96.870003,...,0.0,0.0,2023-01-31 00:00:00-05:00,4020.850098,4077.159912,4020.439941,4076.600098,4679320000,0.0,0.0
2,2023-02-01 00:00:00-05:00,148.029999,153.580002,147.059998,153.119995,55661000,0.0,0.0,2023-02-01 00:00:00-05:00,98.709999,...,0.0,0.0,2023-02-01 00:00:00-05:00,4070.070068,4148.950195,4037.199951,4119.209961,4856930000,0.0,0.0
3,2023-02-02 00:00:00-05:00,183.380005,197.160004,180.160004,188.770004,150475700,0.0,0.0,2023-02-02 00:00:00-05:00,105.800003,...,0.0,0.0,2023-02-02 00:00:00-05:00,4158.680176,4195.439941,4141.879883,4179.759766,5624360000,0.0,0.0
4,2023-02-03 00:00:00-05:00,183.470001,196.770004,182.889999,186.529999,76809700,0.0,0.0,2023-02-03 00:00:00-05:00,102.930000,...,0.0,0.0,2023-02-03 00:00:00-05:00,4136.689941,4182.359863,4123.359863,4136.479980,4694510000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2024-01-23 00:00:00-05:00,384.619995,388.380005,382.079987,385.200012,15506100,0.0,0.0,2024-01-23 00:00:00-05:00,145.889999,...,0.0,0.0,2024-01-23 00:00:00-05:00,4856.799805,4866.479980,4844.370117,4864.600098,3912800000,0.0,0.0
247,2024-01-24 00:00:00-05:00,390.000000,396.149994,387.809998,390.700012,15698500,0.0,0.0,2024-01-24 00:00:00-05:00,148.539993,...,0.0,0.0,2024-01-24 00:00:00-05:00,4888.560059,4903.680176,4865.939941,4868.549805,4330030000,0.0,0.0
248,2024-01-25 00:00:00-05:00,390.170013,395.489990,385.660004,393.179993,15091100,0.0,0.0,2024-01-25 00:00:00-05:00,150.070007,...,0.0,0.0,2024-01-25 00:00:00-05:00,4886.660156,4898.149902,4869.339844,4894.160156,4020430000,0.0,0.0
249,2024-01-26 00:00:00-05:00,394.350006,396.790009,391.589996,394.140015,13163700,0.0,0.0,2024-01-26 00:00:00-05:00,151.100006,...,0.0,0.0,2024-01-26 00:00:00-05:00,4888.910156,4906.689941,4881.470215,4890.970215,3353400000,0.0,0.0
250,2024-01-29 00:00:00-05:00,394.989990,402.929993,393.100006,401.019989,18684000,0.0,0.0,2024-01-29 00:00:00-05:00,152.059998,...,0.0,0.0,2024-01-29 00:00:00-05:00,4892.950195,4929.310059,4887.399902,4927.930176,3525160000,0.0,0.0

In [ ]:
for ticker in tickerSymbols:
    tickerDataFrames[ticker]['Return'] = tickerDataFrames[ticker]['Close'].pct_change()

In [ ]:


    
sp500_data['Return'] = sp500_data['Close'].pct_change()

# Calculate alpha, beta, and Sharpe ratio
for ticker in tickerSymbols:
    # Calculate beta
    beta, alpha, r_value, p_value, std_err = stats.linregress(tickerDataFrames[ticker]['Return'].iloc[1:], sp500_data['Return'].iloc[1:])
    tickerDataFrames[ticker]['Beta'] = beta
    tickerDataFrames[ticker]['Alpha'] = alpha

    # Calculate Sharpe ratio
    sharpe_ratio = np.sqrt(252) * (tickerDataFrames[ticker]['Return'].mean() - 0.01) / tickerDataFrames[ticker]['Return'].std()
    tickerDataFrames[ticker]['Sharpe Ratio'] = sharpe_ratio

In [ ]:
# Initialize a dictionary to hold the averages
averages = {'Alpha': [], 'Beta': [], 'Sharpe Ratio': []}

# Calculate the averages
for ticker in tickerSymbols:
    averages['Alpha'].append(tickerDataFrames[ticker]['Alpha'].mean())
    averages['Beta'].append(tickerDataFrames[ticker]['Beta'].mean())
    averages['Sharpe Ratio'].append(tickerDataFrames[ticker]['Sharpe Ratio'].mean())

# Convert the dictionary to a DataFrame
averages_df = pd.DataFrame(averages, index=tickerSymbols)

In [ ]:
averages_df